#signUp {
  top: 0;
  z-index: -1;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../asset/img/sign_up.png");
  form {
    margin-top: 15vh;
    .form-group {
      position: relative;
      padding: 15px 0 0;
      margin-top: 10px;
      .form-label{
        display: none;
      }
      .form-control {
        font-family: inherit;
        border: 0;
        border-bottom: 2px solid white;
        border-radius: unset;
        outline: 0;
        font-size: 1.3rem;
        color: white;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        &::placeholder {
          color: white;
          font-weight: bold;
        }
      }
    }
    .btn {
      background: transparent;
      border: 2px solid white;
      font-weight: bold;
    }
  }
}
