$color_input_border: #252926;
$color_blue: #219adc;
$color_white: #ffff;

#bodyDash{
  display: flex;
  flex-direction: column;
}
#block_Dash{
  display: flex;
  nav{
    position: fixed;
    margin-left: 1em;
  }
}

#navDash{
  li {
    margin: 0.5em;
  }
  a{
    text-decoration: none;
    font-size: 1.2em;
    &:hover{
      color: black;
    }
  }
}

// ADD 
#bodyCreateProducts, .profil{
  select, input{
    border: none;
    outline: none;
    margin-bottom: 1.5em;
    background-color: transparent;
    border-bottom: 1px solid $color_input_border;
  }
  ::placeholder, button, .inputfile + label{
    color: $color_input_border;
  }
  .divForm{
    display: flex;
    justify-content: space-between;
  }
  form{
    margin: 0 auto;
  }
  .sieze{
    max-width: 47%;
  }
  input{
    width: 100%;
  }
  input[type="text"]{
    background: rgba(0, 0, 0, 0);
  }
  select{
    width: 47%;
    color: $color_input_border;
  }

  textarea{
    width: 100%;
    height: 12em;
  }
  button{
    width: 100%;
    border: none;
    background-color: $color_blue;
    color: $color_white;
  }
}
// DETAILS
#detailsDashErr{
  display: flex;
  font-size: 2em;
  justify-content: center;
  text-transform: uppercase;
}
#detailsDash{
  display: inline-flex;
  img{
    width: 500px;
    height: 550px;
    object-fit: contain;
  }
  p:nth-child(1){
    font-size: 1.5em;
    margin-bottom: 0;
  }
  #stock, #rupture{
    font-size: 0.5em;
    margin-left: 1em;
    padding: 5px;
    border-radius: 10px;
    color: white;  
  }
  #stock{background-color: rgb(98, 192, 98);}
  #rupture{ background-color: rgb(206, 84, 111);}
  #err{
    text-align: center;
  }
  #infos{
    .s{
      font-size: 1em;
    }
    p{
      font-size: 0.8em;
      margin-top: 5px;    
    }
  }
}