#bodyDash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#block_Dash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#block_Dash nav {
  position: fixed;
  margin-left: 1em;
}

#navDash li {
  margin: 0.5em;
}

#navDash a {
  text-decoration: none;
  font-size: 1.2em;
}

#navDash a:hover {
  color: black;
}

#bodyCreateProducts select, #bodyCreateProducts input, .profil select, .profil input {
  border: none;
  outline: none;
  margin-bottom: 1.5em;
  background-color: transparent;
  border-bottom: 1px solid #252926;
}

#bodyCreateProducts ::-webkit-input-placeholder, #bodyCreateProducts button, #bodyCreateProducts .inputfile + label, .profil ::-webkit-input-placeholder, .profil button, .profil .inputfile + label {
  color: #252926;
}

#bodyCreateProducts :-ms-input-placeholder, #bodyCreateProducts button, #bodyCreateProducts .inputfile + label, .profil :-ms-input-placeholder, .profil button, .profil .inputfile + label {
  color: #252926;
}

#bodyCreateProducts ::-ms-input-placeholder, #bodyCreateProducts button, #bodyCreateProducts .inputfile + label, .profil ::-ms-input-placeholder, .profil button, .profil .inputfile + label {
  color: #252926;
}

#bodyCreateProducts ::placeholder, #bodyCreateProducts button, #bodyCreateProducts .inputfile + label, .profil ::placeholder, .profil button, .profil .inputfile + label {
  color: #252926;
}

#bodyCreateProducts .divForm, .profil .divForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#bodyCreateProducts form, .profil form {
  margin: 0 auto;
}

#bodyCreateProducts .sieze, .profil .sieze {
  max-width: 47%;
}

#bodyCreateProducts input, .profil input {
  width: 100%;
}

#bodyCreateProducts input[type="text"], .profil input[type="text"] {
  background: rgba(0, 0, 0, 0);
}

#bodyCreateProducts select, .profil select {
  width: 47%;
  color: #252926;
}

#bodyCreateProducts textarea, .profil textarea {
  width: 100%;
  height: 12em;
}

#bodyCreateProducts button, .profil button {
  width: 100%;
  border: none;
  background-color: #219adc;
  color: #ffff;
}

#detailsDashErr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

#detailsDash {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#detailsDash img {
  width: 500px;
  height: 550px;
  -o-object-fit: contain;
     object-fit: contain;
}

#detailsDash p:nth-child(1) {
  font-size: 1.5em;
  margin-bottom: 0;
}

#detailsDash #stock, #detailsDash #rupture {
  font-size: 0.5em;
  margin-left: 1em;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

#detailsDash #stock {
  background-color: #62c062;
}

#detailsDash #rupture {
  background-color: #ce546f;
}

#detailsDash #err {
  text-align: center;
}

#detailsDash #infos .s {
  font-size: 1em;
}

#detailsDash #infos p {
  font-size: 0.8em;
  margin-top: 5px;
}
/*# sourceMappingURL=style.css.map */