#signIn {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  position: fixed;
  min-height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../asset/img/a8lcv-d12ts.svg");
  #block_signIn{
    margin-top: 20rem;
    text-align: center;
    a{
      color: white;
    }
  }
  form {
    margin-top: 15vh;
    .form-group {
      position: relative;
      padding: 15px 0 0;
      margin-top: 10px;
      .form-label{
        display: none;
      }
      .form-control {
        font-family: inherit;
        border: 0;
        border-bottom: 2px solid white;
        border-radius: 0%;
        outline: none;
        font-size: 1.3rem;
        color: white;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        &::placeholder {
          color: white;
          font-weight: bold;
        }
      }
    }
    .btn {
      background: transparent;
      border: 2px solid white;
      font-weight: bold;
    }
  }
}