#container_cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section{
  display: flex;
  flex-direction: row;
  #navHome{
    padding: 1em;
    li{
      margin: 0.5em;
    }
  }
}